textarea {
    background: #0f172a;
    border: 1px solid #334155;
    color: white;
    padding: 12px;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
    font-family: inherit;
    resize: none;
}

.label-input {
    display: block;
    font-size: 0.8rem;
    color: #94a3b8;
    margin-bottom: 5px;
    margin-left: 5px;
}

#formCompra h3 {
    color: #60a5fa;
    margin-bottom: 20px;
}